@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto');

body {
  background: #F0F3F5;
}

.box-wrapper {
  text-align: center;
}

.game-title {
  color: #0B7A75;
  font-family: 'Luckiest Guy';
  font-size: 8em;
  letter-spacing: 5px;
  margin: 0;
  margin-top: 1%;
  padding: 0;
  text-align: center;
}

.game-over {
  font-family: 'Luckiest Guy';
  letter-spacing: 5px;
  font-size: 5em;
  margin: 0;
  color: #bd2323;
}

.game-information {
  text-align: center;
}

.score {
  font-size: 3em;
  margin: 0;
  font-variant: small-caps;
  font-family: 'Roboto';
}

.score span {
  color: white;
  text-shadow: -1px 0 #0B7a75, 0 1px #0B7a75, 1px 0 #0B7a75, 0 -1px #0B7a75;
}

.start-button {
  font-family: 'Roboto';
  font-size: 2em;
  border: none;
  padding: 10px 20px;
  background: #19535F;
  color: #f0f3f5;
  border-radius: 5px;
  box-shadow: none;
  margin: 50px;
}

.box {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.box .lever {
  flex-grow: 1;
  border: 1px solid rgba(214, 200, 168, 0.15);
  background-color: #7C3D22;
  border-radius: 15px;
  margin: 0 1px;
}


.lever {
  font-size: 3em;
  color: #D7C9AA;
  text-align: center;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.lever.flipped {
  color: rgba(215, 201, 170, 0.15);
}

.lever.frozen {
  color: rgba(0, 0, 0, 0);
  background-color: #D7C9AA;
}

.dice {
  padding: 50px;
  text-align: center;
}

.die {
  padding: 5px;
  display: inline-block;
  width: 100px;
}

@media (max-width: 500px) {
  body {
    font-size: 10px;
  }

  .score span {
    display: block;
  }

  .game-title {
    font-size: 6em;
    padding-top: 5%;
  }

  .dice {
    padding: 20px;
  }

  .die {
    width: 50px;
  }

  .box {
    padding: 0;
  }

  .box .lever {
  }

  .lever {
    margin: 0;
    font-size: 2.5em;
  }

  .lever h1 {
    margin: 25% 0;
  }

}
